<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kickshrew_treasure_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,419},{252,196}}</string>
                <key>offset</key>
                <string>{-47,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,79},{252,196}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,324},{252,196}}</string>
                <key>offset</key>
                <string>{-47,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,79},{252,196}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{258,202}}</string>
                <key>offset</key>
                <string>{-46,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{258,202}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{258,226}}</string>
                <key>offset</key>
                <string>{-44,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,49},{258,226}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,682},{254,276}}</string>
                <key>offset</key>
                <string>{-38,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{254,276}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{266,276}}</string>
                <key>offset</key>
                <string>{-37,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{266,276}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,404},{258,276}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{258,276}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_box_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{262,286}}</string>
                <key>offset</key>
                <string>{-34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{262,286}}</string>
                <key>sourceSize</key>
                <string>{350,288}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,262},{85,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,134}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{115,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,178}}</string>
                <key>sourceSize</key>
                <string>{115,180}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,262},{133,193}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,193}}</string>
                <key>sourceSize</key>
                <string>{135,195}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,119},{123,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,173}}</string>
                <key>sourceSize</key>
                <string>{123,175}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,244},{78,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,123}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,354},{63,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,970},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>kickshrew_treasure_hammereffect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,262},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>kickshrew_treasure_sunshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kickshrew_treasue_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76315b980ea7902b7f44972b4304bbed:1/1$</string>
            <key>textureFileName</key>
            <string>kickshrew_treasue_effect.png</string>
        </dict>
    </dict>
</plist>
