<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Yellow_prop_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>yellow_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,110}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>yellow_ear_left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,114},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>yellow_ear_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,205},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,41}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>yellow_ear_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,33},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{29,40}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>yellow_ear_right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,187},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>yellow_ear_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,162},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,41}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>yellow_ear_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{29,40}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>yellow_face_cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,114},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,28}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>yellow_face_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{58,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,25}}</string>
                <key>sourceSize</key>
                <string>{58,25}</string>
            </dict>
            <key>yellow_hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,235},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{19,14}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>yellow_hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,171},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{19,14}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>yellow_prop_black_glassess.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{75,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,36}}</string>
                <key>sourceSize</key>
                <string>{75,36}</string>
            </dict>
            <key>yellow_prop_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,114},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>yellow_prop_one_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,191},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>yellow_swelling.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,171},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kickshrew_role_yellow.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24335a0ccddc886e88c014b84be35bf5:1/1$</string>
            <key>textureFileName</key>
            <string>kickshrew_role_yellow.png</string>
        </dict>
    </dict>
</plist>
