<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kickshrew_challengeMatch_beginBox_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{911,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{911,91}}</string>
                <key>sourceSize</key>
                <string>{911,91}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{911,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{911,91}}</string>
                <key>sourceSize</key>
                <string>{911,91}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_frame_lastCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,915},{217,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,76}}</string>
                <key>sourceSize</key>
                <string>{217,76}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_frame_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,95},{388,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{388,464}}</string>
                <key>sourceSize</key>
                <string>{390,464}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_frame_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,915},{446,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{446,84}}</string>
                <key>sourceSize</key>
                <string>{448,86}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_btnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,149},{190,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,54}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_btnUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,95},{190,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,54}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{304,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{304,180}}</string>
                <key>sourceSize</key>
                <string>{308,182}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_matchTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{292,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,40}}</string>
                <key>sourceSize</key>
                <string>{298,40}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,915},{74,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{74,44}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{90,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{90,46}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,915},{80,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{80,46}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_rank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,643},{114,44}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,44}}</string>
                <key>sourceSize</key>
                <string>{144,44}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_rank5.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,561},{140,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,42}}</string>
                <key>sourceSize</key>
                <string>{144,44}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_slash.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,95},{24,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>kickshrew_challengeMatch_beginBox_label_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,605},{134,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kickshrew_challengeMatch_beginBox.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a395822691e73cc4dd2a0a06cc06ab8d:1/1$</string>
            <key>textureFileName</key>
            <string>kickshrew_challengeMatch_beginBox.png</string>
        </dict>
    </dict>
</plist>
