<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sewer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{1136,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,146}}</string>
                <key>sourceSize</key>
                <string>{1136,146}</string>
            </dict>
            <key>sewer_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{1136,87}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{1136,87}}</string>
                <key>sourceSize</key>
                <string>{1136,115}</string>
            </dict>
            <key>sewer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{1136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,134}}</string>
                <key>sourceSize</key>
                <string>{1136,134}</string>
            </dict>
            <key>sewer_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,482},{1136,102}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{1136,102}}</string>
                <key>sourceSize</key>
                <string>{1136,134}</string>
            </dict>
            <key>sewer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,180}}</string>
                <key>sourceSize</key>
                <string>{1136,180}</string>
            </dict>
            <key>sewer_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{1136,148}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{1136,148}}</string>
                <key>sourceSize</key>
                <string>{1136,180}</string>
            </dict>
            <key>sewer_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{64,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>sewer_wheelWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{137,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,51}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kickshrew_game_view_sewer.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf04d6e95c13b27aa1e6d67120205857:1/1$</string>
            <key>textureFileName</key>
            <string>kickshrew_game_view_sewer.png</string>
        </dict>
    </dict>
</plist>
