<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>second_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,60},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>second_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>second_ear_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,229},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>second_ear_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,229},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>second_eye_left_dizzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,58},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>second_eye_left_dizzy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,30},{24,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>second_eye_right_dizzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,113},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>second_eye_right_dizzy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{24,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>second_face_cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,28},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>second_face_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,167},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>second_hand_up_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,209},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>second_hand_up_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,189},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>second_prop_glasses.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,114},{84,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>second_prop_glasses_hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{95,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,72}}</string>
                <key>sourceSize</key>
                <string>{95,72}</string>
            </dict>
            <key>second_prop_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>second_prop_redbelt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>second_prop_redbelt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,200},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>second_red_eye_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>second_red_eye_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,91},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>second_swelling.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,141},{24,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>second_swelling_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,97},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>second_swelling_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,60},{29,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,10}}</string>
                <key>sourceSize</key>
                <string>{29,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kickshrew_role_second.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93f97e2745cf950fe80ccd4707a3a95d:1/1$</string>
            <key>textureFileName</key>
            <string>kickshrew_role_second.png</string>
        </dict>
    </dict>
</plist>
